body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 1em 3em;
  align-content: center;
  background-color: rgb(188, 189, 197);
}

h3 {
  text-align: center;
  color: #757575;
}
h2 {
  text-align: center;
  margin: 0px;
  font-size: 17px;
}

.mobileContainer {
  margin: auto;
  border-radius: 20px;
  border: 30px solid;
  width: 300px;
  height: 400px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(201, 217, 205);
  box-shadow: 3px 1px 5px rgb(67, 67, 67);
}

.modeAmbient,
.modeFull,
.modePower {
  color: aliceblue;
  display: flex;
  width: fit-content;
  padding: 2%;
  height: 20px;
  background-color: grey;
  margin: 5px;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 2px #757575;
  border-radius: 5px;
}

.modePower {
  background-color: grey;
}

.hover:hover {
  cursor: pointer;
  text-decoration: wavy;
}

.modeContainer {
  display: flex;
  justify-content: center;
}

.modeStatus {
  border-radius: 5px;
  background-color: rgb(238, 222, 203);
  width: fit-content;
  margin: 20px auto 20px auto;
  padding: 10px;
  text-align: center;
  box-shadow: 1px 1px 2px #757575;
}

.powerOnContainer {
  width: 200px;
  height: fit-content;
  border-radius: 5px;
  margin: 30px auto 80px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 115, 113);
  box-shadow: 1px 1px 2px #757575;
}

.powerOnBtn {
  font-weight: 600;
  height: 40px;
  width: 40px;
  margin: 10px 0px 10px 10px;
  background-color: rgb(225, 115, 113);
  border-radius: 5px;
  box-shadow: 1px 1px 2px #757575;
  cursor: pointer;
}
